<div class="popup-container">
    <div class="popup-foooter text-bg-light mx-0 my-0">
        <VcToolbar Title="@Title" @bind-curActionTask="curActionTask" OnSave="OnSave" OnCancel="OnCancel" OnCopy="OnCopy" OnNew="OnNew" OnEdit="OnEdit" OnPrint="OnPrint" IsLangEn="@IsLangEn" Stt_rec="@Stt_rec" Ma_ct="@Ma_ct" Phdbf="@Phdbf" />
    </div>
    <hr style="height:1px;background-color:dimgrey;margin:0px;padding:0px;">
    <div class="popup-body">
        @ChildContent
    </div>    
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public ActionTask curActionTask { get; set; }
    [Parameter] public Users curUser { get; set; }
    [Parameter] public EventCallback<ActionTask> curActionTaskChanged { get; set; }
    [Parameter] public string Stt_rec { get; set; }
    [Parameter] public string Ma_ct { get; set; }
    [Parameter] public string Menu_id { get; set; }
    [Parameter] public string Phdbf { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnCopy { get; set; }
    [Parameter] public EventCallback OnNew { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnPrint { get; set; }
    [Parameter] public bool IsLangEn { get; set; }
}