@inherits TranBaseComponent
@using System.Data
@using DevExpress.Blazor

<div class="m-0 p-0 w-100 overflow-auto" data-spy="scroll">
    @if (IsShowVoucher)
    {
        <FormTrans Title="@Pagetitle" @bind-curActionTask="@curActionTask" OnNew="@OnNew" OnCopy="@OnCopy" OnEdit="@OnEdit" OnSave="@OnSave" OnCancel="@OnCancel" OnPrint="@OnPrint" Stt_rec="@CurPh.Stt_rec" curUser="@curUser" Ma_ct="@Ma_ct" Menu_id="@Menu_id" Phdbf="@M_Phdbf">
            <div class="row m-1 me-2 rounded-1 border border-light shadow ">
                <DxFormLayout SizeMode="@Itemsizemode" CssClass="frm-header" onkeydown="ModifyEnterKeyPressAsTab(event);">
                    <DxFormLayoutTabPages ColSpanMd="12">
                        <DxFormLayoutTabPage Caption="@Lap["Infomation"]" CssClass="css-header">
                            <DxFormLayoutGroup ColSpanMd="12" Decoration="FormLayoutGroupDecoration.None">
                                <DxFormLayoutGroup ColSpanMd="8" Decoration="FormLayoutGroupDecoration.None" SizeMode="@Itemsizemode">
                                    <DxFormLayoutItem ColSpanMd="12">
                                        <Template>
                                            <div class="row">
                                                <label class="col-2">@Lap["Customer"].ToString()</label>
                                                <div class="col p-0">
                                                    <AutocompleteComponent TblData="@TblDmkh" Ma_dm="dmkh" @bind-Value="@CurPh.Ma_kh" SelectChanged="OnAutoCompleteKhachhangChanged" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                                </div>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="8">
                                        <Template>
                                            <div class="row">
                                                <label class="col-3">@Lap["Address"]</label>
                                                <DxTextBox CssClass="col p-0" @bind-Text="@CurPh.Dia_chi" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="4">
                                        <Template>
                                            <div class="row">
                                                <label class="col-5">@Lap["Tax code"]</label>
                                                <DxTextBox CssClass="col p-0" @bind-Text="@CurPh.Ma_so_thue" Enabled="false"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="8">
                                        <Template>
                                            <div class="row">
                                                <label class="col-3">@Lap["Buyer"]</label>
                                                <DxTextBox CssClass="col p-0" @bind-Text="@CurPh.Ong_ba" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="4">
                                        <Template>
                                            <div class="row">
                                                <label class="col-5">@Lap["Balance"]</label>
                                                <DxMaskedInput CssClass="col" @bind-Value="@CurPh.Du13" Mask="@M_IP_TIEN" DisplayFormat="@M_IP_TIEN" Enabled="false"></DxMaskedInput>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="8">
                                        <Template>
                                            <div class="row">
                                                <label class="col-3">@Lap["Description"].ToString()</label>
                                                <DxTextBox CssClass="col p-0" @bind-Text="@CurPh.Dien_giai" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="4">
                                        <Template>
                                            <div class="row">
                                                <label class="col-5">@Lap["Condition Delivery"].ToString()</label>
                                                <DxTextBox CssClass="col " @bind-Text="@CurPh.Dk_giaohang" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="8">
                                        <Template>
                                            <div class="row">
                                                <label class="col-3">@Lap["Discount Policy"].ToString()</label>
                                                <DxTextBox CssClass="col p-0" @bind-Text="@CurPh.Chinhsach_ck" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="4">
                                        <Template>
                                            <div class="row">
                                                <label class="col-5">@Lap["Condition Pay"].ToString()</label>
                                                <DxTextBox CssClass="col " @bind-Text="@CurPh.Dk_thanhtoan" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem ColSpanMd="6">
                                        <Template>
                                            <div class="row">
                                                <label class="col-4">@Lap["Saler code"].ToString()</label>
                                                <div class="col p-0">
                                                    <AutocompleteComponent Ma_dm="dmbp" @bind-Value="@CurPh.Ma_bp" SelectChanged="OnAutoCompleteDMBPChanged" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                                </div>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>

                                </DxFormLayoutGroup>
                                <DxFormLayoutGroup Caption="@Lap["Voucher"].ToString()" ColSpanMd="4" Decoration="FormLayoutGroupDecoration.None" SizeMode="@Itemsizemode">
                                    <DxFormLayoutItem Caption="" ColSpanMd="12">
                                        <Template>
                                            <div class="row">
                                                <label class="col-4">@Lap["GL date"].ToString()</label>
                                                <DxDateEdit CssClass="col" @bind-Date="@CurPh.Ngay_ct" DisplayFormat="yyyy-MM-dd" Format="yyyy-MM-dd" Enabled="@AllowEditMode"></DxDateEdit>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="" ColSpanMd="12">
                                        <Template>
                                            <div class="row">
                                                <label class="col-4">@Lap["Book code"].ToString()</label>
                                                <AutocompleteComponent CssClass="col p-0" Ma_dm="dmqs" @bind-Value="@CurPh.Ma_qs" SelectChanged="OnAutoCompleteQuyensoChanged" Filter="@_filter_qs" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="" ColSpanMd="12">
                                        <Template>
                                            <div class="row">
                                                <label class="col-4">@Lap["Voucher No"].ToString()</label>
                                                <DxTextBox CssClass="col" @bind-Text="@CurPh.So_ct" Enabled="@AllowEditMode"></DxTextBox>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>

                                    <DxFormLayoutItem Caption="" ColSpanMd="12">
                                        <Template>
                                            <div class="row">
                                                <label class="col-4">@Lap["Currency"].ToString()</label>
                                                <AutocompleteComponent CssClass="col p-0" Ma_dm="dmnt" @bind-Value="@CurPh.Ma_nt" SelectChanged="OnAutoCompleteMaNTChanged" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                                <DxSpinEdit CssClass="col" @bind-Value="@CurPh.Ty_gia" DisplayFormat="@M_IP_TY_GIA" Enabled="@AllowEditMode"></DxSpinEdit>
                                            </div>
                                        </Template>
                                    </DxFormLayoutItem>

                                </DxFormLayoutGroup>
                            </DxFormLayoutGroup>
                        </DxFormLayoutTabPage>
                    </DxFormLayoutTabPages>
                    <DxFormLayoutTabPages ColSpanMd="12" CssClass="css-detail">
                        <DxFormLayoutTabPage Caption="@Lap["Details"]" CaptionCssClass="fw-bold" HeaderCssClass="rounded-pill">
                            <DxFormLayoutItem ColSpanMd="12">
                                <Template>
                                    <DxGrid @ref="GridCT" SizeMode="@Itemsizemode" CssClass="@grd_Css"
                                            AllowSelectRowByClick=true
                                            Data="@LSCt"
                                            @bind-SelectedDataItem="@SelectedDataItemCT"
                                            ValidationEnabled="false"
                                            EditMode="GridEditMode.EditCell"
                                            CustomizeEditModel="Grid_CustomizeEditModelCT"
                                            EditModelSaving="Grid_EditModelSavingCT"
                                            DataItemDeleting="Grid_DataItemDeletingCT"
                                            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
                                            ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                            EditNewRowPosition="@NewItemRowPosition"
                                            ShowAllRows="true"
                                            TextWrapEnabled="false"
                                            HighlightRowOnHover="true">
                                        <Columns>
                                            <DxGridCommandColumn Width="3%" NewButtonVisible="false" Visible="@AllowEditMode" VisibleIndex="0">
                                                <CellDisplayTemplate Context="cntedit">
                                                    <div class="grid-cell-align-center">
                                                        <DxButton IconCssClass="grid-icon grid-icon-delete"
                                                                  RenderStyle="ButtonRenderStyle.Link"
                                                                  CssClass="grid-delete-btn"
                                                                  aria-label="Delete"
                                                                  Click="@(() => GridCT.ShowRowDeleteConfirmation(cntedit.VisibleIndex))" />
                                                    </div>
                                                </CellDisplayTemplate>
                                                <CellEditTemplate Context="cntedit1">
                                                    <div class="grid-cell-align-center">
                                                        <DxButton Enabled="false"
                                                                  CssClass="grid-disabled-button"
                                                                  IconCssClass="grid-icon grid-icon-delete"
                                                                  aria-label="Delete"
                                                                  RenderStyle="ButtonRenderStyle.Link" />
                                                    </div>
                                                </CellEditTemplate>
                                            </DxGridCommandColumn>
                                            <DxGridDataColumn FieldName="Ma_vt" Caption="@Lap["Product code"].ToString()" Width="10%" CaptionAlignment="GridTextAlignment.Center" VisibleIndex="@CtOrder.GetKey("1")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <AutocompleteComponent Ma_dm="dmvt" @bind-Value="@_Ct101.Ma_vt" SelectChanged="@((ExpandoObject value) => { OnGridCT_DMDM_Changed(value,"Ma_vt") ;})" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            @* <DxGridDataColumn FieldName="Ten_vt" ReadOnly="true" Caption="@Lap["Product name"]" CaptionAlignment="GridTextAlignment.Center" Width="20%" VisibleIndex="@CtOrder.GetKey("2")" /> *@

                                            <DxGridDataColumn FieldName="Dvt1" Caption="@Lap["Unit"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="10%" VisibleIndex="@CtOrder.GetKey("2")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxTextBox @bind-Text="@_Ct101.Dvt1" ReadOnly="true"></DxTextBox>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>

                                            <DxGridDataColumn FieldName="So_luong" Caption="@Lap["Quantity"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="10%" DisplayFormat="@M_IP_SL" VisibleIndex="@CtOrder.GetKey("3")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.So_luong" ValueExpression="@(()=>_Ct101.So_luong)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"So_luong"); })" Id="So_luong"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>

                                            <DxGridDataColumn FieldName="Gia_nt2" Caption="@String.Concat(Lap["Price"]," ", CurPh.Ma_nt)" Width="10%" DisplayFormat="@M_IP_GIA_NT" VisibleIndex="@CtOrder.GetKey("4")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Gia_nt2" ValueExpression="@(()=>_Ct101.Gia_nt2)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Gia_nt2"); })" Id="Gia_nt2"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxGridDataColumn FieldName="Gia2" Caption="@String.Concat(Lap["Price"]," ", M_ma_nt0.Trim())" Width="10%" DisplayFormat="@M_IP_GIA" VisibleIndex="@CtOrder.GetKey("5")">
                                                    <CellEditTemplate Context="GrdContext">
                                                        @{
                                                            var _Ct101 = (Ct101)GrdContext.EditModel;
                                                        }
                                                        <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Gia2" ValueExpression="@(()=>_Ct101.Gia2)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Gia2"); })" Id="Gia2"></DxSpinEdit>
                                                    </CellEditTemplate>
                                                </DxGridDataColumn>
                                            }
                                            <DxGridDataColumn FieldName="Tien_nt2" Caption="@String.Concat(Lap["Amount"]," ", CurPh.Ma_nt)" Width="10%" DisplayFormat="@M_IP_TIEN_NT" VisibleIndex="@CtOrder.GetKey("6")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" @bind-Value="@_Ct101.Tien_nt2" Id="Tien_nt2"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxGridDataColumn FieldName="Tien2" Caption="@String.Concat(Lap["Amount"]," ", M_ma_nt0.Trim())" Width="10%" DisplayFormat="@M_IP_TIEN" VisibleIndex="@CtOrder.GetKey("7")">
                                                    <CellEditTemplate Context="GrdContext">
                                                        @{
                                                            var _Ct101 = (Ct101)GrdContext.EditModel;
                                                        }
                                                        <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Tien2" ValueExpression="@(()=>_Ct101.Tien2)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Tien2"); })" Id="Tien2"></DxSpinEdit>
                                                    </CellEditTemplate>
                                                </DxGridDataColumn>
                                            }
                                            <DxGridDataColumn FieldName="Tg_baohanh" Caption="@Lap["Warranty period"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="15%" VisibleIndex="@CtOrder.GetKey("8")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Tg_baohanh" ValueExpression="@(()=>_Ct101.Tg_baohanh)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Tg_baohanh"); })" Id="Tg_baohanh"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="Tl_ck" Caption="@Lap["Transfer rate"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="10%" DisplayFormat="@M_IP_SL" VisibleIndex="@CtOrder.GetKey("9")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Tl_ck" ValueExpression="@(()=>_Ct101.Tl_ck)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Tl_ck"); })" Id="Tl_ck"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="Ck" Caption="@Lap["Money transfer"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="10%" VisibleIndex="@CtOrder.GetKey("10")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Ck" ValueExpression="@(()=>_Ct101.Ck)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Ck"); })" Id="Ck"></DxSpinEdit>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="Ma_thue" Caption="@Lap["Tax code"].ToString()" Width="10%" CaptionAlignment="GridTextAlignment.Center" VisibleIndex="@CtOrder.GetKey("11")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <AutocompleteComponent Ma_dm="dmthue" @bind-Value="@_Ct101.Ma_thue" SelectChanged="@((ExpandoObject value) => { OnGridCT_DMDM_Changed(value,"Ma_thue") ;})" IsEnable="@AllowEditMode" IsLangEn="@IsLangEn"></AutocompleteComponent>
                                                </CellEditTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="Thue_suat" ReadOnly="true" Caption="@Lap["Tax number"]" CaptionAlignment="GridTextAlignment.Center" Width="5%" VisibleIndex="@CtOrder.GetKey("12")" />

                                            <DxGridDataColumn FieldName="Thue" Caption="@Lap["Tax"].ToString()" CaptionAlignment="GridTextAlignment.Center" Width="10%" VisibleIndex="@CtOrder.GetKey("16")">
                                                <CellEditTemplate Context="GrdContext">
                                                    @{
                                                        var _Ct101 = (Ct101)GrdContext.EditModel;
                                                    }
                                                    <DxSpinEdit Enabled="@AllowEditMode" Value="@_Ct101.Thue" ValueExpression="@(()=>_Ct101.Thue)" ValueChanged="@((decimal newvalue) =>{ OnGridCT_Value_Changed(newvalue,"Thue"); })" Id="Thue"></DxSpinEdit>
                                                    @* <DxSpinEdit Enabled="@AllowEditMode" @bind-Value="@_Ct101.Thue" Id="Thue"></DxSpinEdit> *@
                                                    <DxSpinEdit Enabled="@AllowEditMode" @bind-Value="@_Ct101.Thue_nt" Id="Thue_nt" style="display: none;"></DxSpinEdit>

                                                </CellEditTemplate>
                                            </DxGridDataColumn>


                                        </Columns>
                                        <TotalSummary>
                                            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="@M_IP_SL" Name="So_luong" FieldName="So_luong" />
                                            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="@M_IP_TIEN" Name="Tien2" FieldName="Tien2" />
                                            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="@M_IP_TIEN_NT" Name="Tien_nt2" FieldName="Tien_nt2" />
                                        </TotalSummary>
                                    </DxGrid>
                                </Template>
                            </DxFormLayoutItem>
                        </DxFormLayoutTabPage>

                    </DxFormLayoutTabPages>
                    <div class="mt-3 ms-3">
                        <DxFormLayoutGroup Caption="@Lap["Total"].ToString()" ColSpanMd="12" Decoration="FormLayoutGroupDecoration.None">

                            <DxFormLayoutGroup ColSpanMd="6" Decoration="FormLayoutGroupDecoration.None">
                                <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold">@Lap["Hạn giao hàng"].ToString()</label>
                                            <DxDateEdit  CssClass="col-4 ms-2" @bind-Date="@CurPh.Han_giaohang" DisplayFormat="dd-MM-yyyy" Format="dd-MM-yyyy" Enabled="@AllowEditMode" />

                                        </div>
                                    </Template>
                                </DxFormLayoutItem>

                                <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold">@Lap["Hạn thanh toán"]</label>
                                            <DxDateEdit CssClass="col-4 ms-2" @bind-Date="@CurPh.Han_thanhtoan" DisplayFormat="dd-MM-yyyy" Format="dd-MM-yyyy" Enabled="@AllowEditMode" />

                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                            </DxFormLayoutGroup>
                            <DxFormLayoutGroup ColSpanMd="6" Decoration="FormLayoutGroupDecoration.None">
                                 <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold">@Lap["Cộng tiền hàng"].ToString()</label>
                                            <DxSpinEdit Id="t_tien_nt2" Enabled="false" CssClass="col-4" @bind-Value="@CurPh.T_tien_nt2" DisplayFormat="@M_IP_TIEN_NT"></DxSpinEdit>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxSpinEdit Id="t_tien2" Enabled="false" CssClass="col-4 ms-2" @bind-Value="@CurPh.T_tien2" DisplayFormat="@M_IP_TIEN"></DxSpinEdit>
                                            }
                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold">@Lap["Tiền ck"]</label>
                                            <DxSpinEdit Id="t_ck_nt" Enabled="false" CssClass="col-4" @bind-Value="@CurPh.T_ck_nt" DisplayFormat="@M_IP_TIEN_NT"></DxSpinEdit>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxSpinEdit Id="t_ck" Enabled="false" CssClass="col-4 ms-2" @bind-Value="@CurPh.T_ck" DisplayFormat="@M_IP_TIEN"></DxSpinEdit>
                                            }
                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold">@Lap["Tiền thuế GTGT"]</label>
                                            <DxSpinEdit Id="t_thue_nt" Enabled="false" CssClass="col-4" @bind-Value="@CurPh.T_thue_nt" DisplayFormat="@M_IP_TIEN_NT"></DxSpinEdit>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxSpinEdit Id="t_thue" Enabled="false" CssClass="col-4 ms-2" @bind-Value="@CurPh.T_thue" DisplayFormat="@M_IP_TIEN"></DxSpinEdit>
                                            }
                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem ColSpanMd="12">
                                    <Template>
                                        <div class="row">
                                            <label class="col-3 fw-bold" style="margin-top:5px;">@Lap["Tổng tiền tt"].ToString()</label>
                                            <DxSpinEdit Id="T_tt_nt" Enabled="false" CssClass="col-4 " ValueExpression="@(()=> CurPh.T_tt_nt)" ValueChanged="@((decimal newvalue)=>{ OnT_tt_ntChanged(newvalue);})" Value="@CurPh.T_tt_nt" DisplayFormat="@M_IP_TIEN_NT"></DxSpinEdit>
                                            @if (NotMaNt0Voucher)
                                            {
                                                <DxSpinEdit Id="T_tt" Enabled="false" CssClass="col-4 ms-2" ValueExpression="@(()=> CurPh.T_tt)" ValueChanged="@((decimal newvalue)=>{ OnT_ttChanged(newvalue);})" Value="@CurPh.T_tt" DisplayFormat="@M_IP_TIEN"></DxSpinEdit>
                                            }
                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                            </DxFormLayoutGroup>
                        </DxFormLayoutGroup>
                    </div>
                    <DxFormLayoutItem ColSpanMd="12">
                        <Template>
                            <hr />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </FormTrans>
    }
    else
    {
        <SisLib.Ctrl.ReportOptionComponent LSItems="LSData" Menu_id="@Menu_id.Replace('_','.')" Parent_url="@mPage" OnBack="@OnPrintBack"></SisLib.Ctrl.ReportOptionComponent>
    }
</div>

<style>
    .disabled-grid {
        pointer-events: none;
        opacity: 0.7;
    }

    .css-header {
        height: 190px;
    }

    .css-detail {
        height: 270px;
    }

    .grd-detail {
        height: 250px;
    }

        .grd-detail .dxbl-grid-table tr {
            height: 20px;
        }

    .chkclass {
        width: fit-content;
    }

    .grid-icon {
        background-color: transparent;
    }

    .grid-icon-delete {
        width: 8px;
        height: 8px;
        padding: 0px;
        margin: 0px;
        background-image: url('../Images/delete.svg');
    }

</style>

@code {
    #region Parameter

    DxWindow windowRef;
    public DataTable TblDmkh { get; set; }

    Ph101 LastPh = new Ph101();
    Ph101 CurPh;
    Ct101 CurCt;
    // Ct101gt CurCtgt;
    List<Ct101> LSCt;
    // List<Ct101gt> LSCtgt;
    string newstt_rec = "";

    string end_GridCt = "end_input_GridCt0";
    string filter_status = "ma_ct like '%PT1%' and status = 1";
    string printPage = "hdlprint";
    public string mPage { get; set; }
    public DotNetObjectReference<FrmSobg1> Pageobj;
    bool SuaHtThue = false;

    DataTable TblDHBPH;
    DataTable TblDHBCT;
    DataTable TblDHBCTGT;
    private List<BG1Model> LSData;

    public static int Hs_dvt = 1000;
    string _filter_qs = "";
    string M_QL_LO_CK = "0";
    string M_QS_XK_HDL = "";
    string M_QS_NK_HDL = "";

    Ct101 CurrentEditModel;
    // Ct101gt CurrentEditModelctgt;

    public bool IsShowPhieuthu = false;
    public bool IsShowPhieuxuat = false;
    public bool ParentReload = false;
    int newstt_rec0 = 0;
    string Ct101_ma_vt = "";
    string xmlpath = "";
    #endregion

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CurPh = new Ph101();
        CurCt = new Ct101();
        LSCt = new List<Ct101>();
        // LSCtgt = new List<Ct101gt>();

        LoadQuyenso();
        LoadOptions();
        _filter_qs = String.Format("ma_cts = '' OR ma_cts like '%{0}%'", Ma_ct);
        ParentReload = false;
        switch (curActionTask)
        {
            case ActionTask.View:
                {
                    Pagetitle = Lap["View"] + ": " + (IsLangEn ? curDmct.Ten_ct2 : curDmct.Ten_ct);
                    V_Xem();
                    break;
                }
            case ActionTask.Edit:
                {
                    Pagetitle = Lap["Edit"] + ": " + (IsLangEn ? curDmct.Ten_ct2.ToString().Trim() : curDmct.Ten_ct.ToString().Trim());
                    V_Sua();
                    break;
                }
            case ActionTask.New:
                {
                    Pagetitle = Lap["New"] + ": " + (IsLangEn ? curDmct.Ten_ct2 : curDmct.Ten_ct);
                    V_Moi();
                    break;
                }
            default:
                {
                    Pagetitle = Lap["View"] + ": " + (IsLangEn ? curDmct.Ten_ct2 : curDmct.Ten_ct);
                    V_Xem();
                    break;
                }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //Lan.SaveDictionaryToXml(Lat, @"C:\language.xml");
            //Lan.SaveDictionaryToXml(Lap, @"C:\language1.xml");
            Pageobj = DotNetObjectReference.Create(this);
            await JavacriptS.InvokeVoidAsync("SetPageObj", Pageobj);
        }
    }
    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        string str = "{0:" + e.Item.ValueDisplayFormat + "}";
        e.DisplayText = string.Format(str, e.Value);
    }
    void ClosePhieuxuat()
    {
        IsShowPhieuxuat = false;
        StateHasChanged();
    }
    void ClosePhieuthu()
    {
        IsShowPhieuthu = false;
        StateHasChanged();
    }

    void CTKMCheckedChanged(Ctkm item)
    {
        item.Ischoose = !item.Ischoose;
        StateHasChanged();
    }
    void VattuKMCheckedChanged(Ctkm item)
    {
        item.Ischoose = !item.Ischoose;
        StateHasChanged();
    }
    [JSInvokable]
    public void GridCTEditMode(string value)
    {
        if (!string.IsNullOrEmpty(value) && AllowEditMode)
        {

        }
    }
    [JSInvokable]
    public void CallGridEditMode(string value)
    {
        if (!string.IsNullOrEmpty(value) && AllowEditMode)
        {
            if (value.Equals(end_GridCt))
                AddNewCT();
        }
    }
    [JSInvokable]
    public async void GridFMode(string value)
    {
        if (!string.IsNullOrEmpty(value) && AllowEditMode)
        {
            if (value.Equals("F4"))
            {
                if (ActiveTabIndex == 1)
                {
                    AddNewCT();
                }
            }
            else if (value.Equals("F8"))
            {
                if (ActiveTabIndex == 1)
                {
                    if (SelectedDataItemCT != null)
                        GridCT.ShowDataItemDeleteConfirmation(SelectedDataItemCT);
                    else
                    {
                        Message = "Chưa chọn chi tiết muốn xóa";
                        StateHasChanged();
                        return;
                    }
                }
            }
            else if (value.ToUpper().Equals("ESCAPE"))
            {
                if (ActiveTabIndex == 1)
                {
                    await GridCT.CancelEditAsync();
                    if (LSCt.Count > 0)
                        LSCt.Remove(LSCt[LSCt.Count - 1]);
                }
            }
        }
    }

    void OnT_tt_ntChanged(decimal newvalue)
    {
        CurPh.T_tt_nt = newvalue;

    }
    void OnT_ttChanged(decimal newvalue)
    {
        CurPh.T_tt = newvalue;

    }



    void OnGridCT_Value_Changed(decimal newvalue, string name)
    {
        if (!string.IsNullOrEmpty(name))
        {
            switch (name.ToLower())
            {
                case "so_luong":
                    {
                        CurrentEditModel.So_luong = newvalue;
                        if (newvalue == new decimal(0))
                        {
                            CurrentEditModel.Gia = 0;
                            CurrentEditModel.Gia_nt = 0;
                            CurrentEditModel.Gia2 = 0;
                            CurrentEditModel.Gia_nt2 = 0;
                        }
                        Decimal num3 = CurrentEditModel.Gia_nt2;
                        Decimal num4 = CurrentEditModel.Gia_nt;
                        Decimal num5 = (num3 * CurPh.Ty_gia);
                        Decimal num6 = (num4 * CurPh.Ty_gia);
                        if (CurrentEditModel.So_luong != new decimal(0))
                        {
                            if (num5 != new decimal(0))
                            {
                                CurrentEditModel.Gia2 = num5;
                            }
                            if (num6 != new decimal(0))
                            {
                                CurrentEditModel.Gia = num6;
                            }
                            Decimal num7 = (CurrentEditModel.So_luong * num3);
                            Decimal num8 = (CurrentEditModel.So_luong * num4);
                            if (num7 != new Decimal(0))
                            {
                                CurrentEditModel.Tien_nt2 = num7;
                            }
                            if (num8 != new Decimal(0))
                            {
                                CurrentEditModel.Tien_nt = num8;
                            }
                            Decimal num9 = (num7 * CurPh.Ty_gia);
                            Decimal num10 = (num8 * CurPh.Ty_gia);
                            if (num9 != new Decimal(0))
                            {
                                CurrentEditModel.Tien2 = num9;
                            }
                            if (num10 != new Decimal(0))
                            {
                                CurrentEditModel.Tien = num10;
                            }
                            Decimal num11 = CurrentEditModel.Tl_ck;
                            if (num11 != new Decimal(0))
                            {
                                Decimal num12 = (num7 * num11 / new Decimal(100));
                                CurrentEditModel.Ck_nt = num12;
                                Decimal num13 = (num12 * CurPh.Ty_gia);
                                if (num13 != new Decimal(0))
                                {
                                    CurrentEditModel.Ck = num13;
                                }
                            }
                            // Tính tiền thuế dựa trên thuế suất
                            Decimal num14 = CurrentEditModel.Thue_suat;
                            if (num14 != new Decimal(0))
                            {
                                Decimal num15 = (num7 * num14 / new Decimal(100));
                                CurrentEditModel.Thue_nt = num15;
                                Decimal num16 = (num15 * CurPh.Ty_gia);
                                if (num16 != new Decimal(0))
                                {
                                    CurrentEditModel.Thue = num16;
                                }
                            }
                            else
                            {
                                CurrentEditModel.Thue_nt = 0;
                                CurrentEditModel.Thue = 0;
                            }
                            if (!NotMaNt0Voucher)
                            {
                                CurrentEditModel.Gia = CurrentEditModel.Gia_nt;
                                CurrentEditModel.Gia2 = CurrentEditModel.Gia_nt2;
                                CurrentEditModel.Tien = CurrentEditModel.Tien_nt;
                                CurrentEditModel.Tien2 = CurrentEditModel.Tien_nt2;
                                CurrentEditModel.Ck = CurrentEditModel.Ck_nt;
                            }
                        }
                        break;
                    }
                case "gia_nt2":
                    {
                        CurrentEditModel.Gia_nt2 = newvalue;
                        Decimal num5 = (newvalue * CurPh.Ty_gia);
                        if (num5 != new Decimal(0))
                            CurrentEditModel.Gia2 = num5;

                        CurrentEditModel.Tien_nt2 = CurrentEditModel.So_luong * CurrentEditModel.Gia_nt2;
                        CurrentEditModel.Tien2 = CurrentEditModel.So_luong * CurrentEditModel.Gia2;

                        Decimal num14 = CurrentEditModel.Thue_suat;
                        if (num14 != new Decimal(0))
                        {
                            Decimal num15 = (CurrentEditModel.Tien_nt2 * num14 / new Decimal(100));
                            CurrentEditModel.Thue_nt = num15;
                            Decimal num16 = (num15 * CurPh.Ty_gia);
                            if (num16 != new Decimal(0))
                            {
                                CurrentEditModel.Thue = num16;
                            }
                        }
                        else
                        {
                            CurrentEditModel.Thue_nt = 0;
                            CurrentEditModel.Thue = 0;
                        }

                        if (!NotMaNt0Voucher)
                        {
                            CurrentEditModel.Gia2 = CurrentEditModel.Gia_nt2;
                            CurrentEditModel.Tien2 = CurrentEditModel.Tien_nt2;
                        }
                        break;
                    }
                case "tien_nt2":
                    {
                        CurrentEditModel.Tien_nt2 = newvalue;
                        Decimal num3 = newvalue;
                        Decimal num4 = CurrentEditModel.So_luong;
                        Decimal num5 = CurrentEditModel.Gia_nt2;
                        if (num5 == new Decimal(0))
                        {
                            if (num4 != new Decimal(0))
                                num5 = (num3 / num4);
                            CurrentEditModel.Gia_nt2 = num5;
                        }
                        Decimal num6 = CurrentEditModel.Tl_ck;
                        if (num6 != new Decimal(0))
                        {
                            Decimal num7 = (num3 * num6 / new Decimal(100));
                            CurrentEditModel.Ck_nt = num7;
                            Decimal num8 = (num7 * CurPh.Ty_gia);
                            if (num8 != new Decimal(0))
                            {
                                CurrentEditModel.Ck = num8;
                            }
                        }
                        Decimal num14 = CurrentEditModel.Thue_suat;
                        if (num14 != new Decimal(0))
                        {
                            Decimal num15 = (CurrentEditModel.Tien_nt2 * num14 / new Decimal(100));
                            CurrentEditModel.Thue_nt = num15;
                            Decimal num16 = (num15 * CurPh.Ty_gia);
                            if (num16 != new Decimal(0))
                            {
                                CurrentEditModel.Thue = num16;
                            }
                        }
                        else
                        {
                            CurrentEditModel.Thue_nt = 0;
                            CurrentEditModel.Thue = 0;
                        }
                        Decimal num9 = (num3 * CurPh.Ty_gia);
                        if (num9 != new Decimal(0))
                        {
                            CurrentEditModel.Tien2 = num9;
                        }
                        if (CurPh.Ma_nt == M_ma_nt0)
                        {
                            CurrentEditModel.Tien2 = CurrentEditModel.Tien_nt2;
                            CurrentEditModel.Ck = CurrentEditModel.Ck_nt;
                        }
                        break;
                    }
                case "gia_nt":
                    {
                        CurrentEditModel.Gia_nt = newvalue;
                        Decimal num3 = CurrentEditModel.So_luong;

                        Decimal num5 = (newvalue * CurPh.Ty_gia);
                        if (num5 != new Decimal(0))
                            CurrentEditModel.Gia = num5;

                        CurrentEditModel.Tien_nt = CurrentEditModel.So_luong * CurrentEditModel.Gia_nt;
                        CurrentEditModel.Tien = CurrentEditModel.So_luong * CurrentEditModel.Gia;

                        if (!NotMaNt0Voucher)
                        {
                            CurrentEditModel.Gia = CurrentEditModel.Gia_nt;
                            CurrentEditModel.Tien = CurrentEditModel.Tien_nt;
                        }
                        break;
                    }
                case "tien_nt":
                    {
                        CurrentEditModel.Tien_nt = newvalue;
                        Decimal num3 = CurrentEditModel.Tien_nt;
                        CurPh.T_tien_nt = LSCt.Sum(a => a.Tien_nt) + CurrentEditModel.Tien_nt;
                        Decimal num4 = (num3 * CurPh.Ty_gia);
                        if (num4 != new Decimal(0))
                        {
                            CurrentEditModel.Tien = num4;
                        }
                        if (CurPh.Ma_nt == M_ma_nt0)
                        {
                            CurrentEditModel.Tien = CurrentEditModel.Tien_nt;
                        }
                        break;
                    }
                case "tl_ck":
                    {
                        CurrentEditModel.Tl_ck = newvalue;
                        Decimal num3 = CurrentEditModel.Tl_ck;
                        if (num3 != new Decimal(0))
                        {
                            Decimal num4 = (CurrentEditModel.Tien_nt2 * num3 / new Decimal(100));
                            CurrentEditModel.Ck_nt = num4;
                            Decimal num5 = (num4 * CurPh.Ty_gia);
                            if (num5 != new Decimal(0))
                            {
                                CurrentEditModel.Ck = num5;
                            }
                        }
                        else
                        {
                            CurrentEditModel.Ck_nt = 0;
                            CurrentEditModel.Ck = 0;
                        }
                        if (!NotMaNt0Voucher)
                        {
                            CurrentEditModel.Ck = CurrentEditModel.Ck_nt;
                        }
                        break;
                    }
                case "ck_nt":
                    {
                        CurrentEditModel.Ck_nt = newvalue;
                        Decimal num4 = (newvalue * CurPh.Ty_gia);
                        if (num4 != new Decimal(0))
                        {
                            CurrentEditModel.Ck = num4;
                        }
                        if (!NotMaNt0Voucher)
                        {
                            CurrentEditModel.Ck = CurrentEditModel.Ck_nt;
                        }
                        break;
                    }
                case "ck":
                    {
                        CurrentEditModel.Ck = newvalue;
                        break;
                    }
                case "thue":
                    {
                        CurrentEditModel.Thue = newvalue;
                        CurrentEditModel.Thue_nt = CurrentEditModel.Thue;

                        break;
                    }

                case "sl_td1_i":
                    {
                        CurrentEditModel.Sl_td1_i = newvalue;
                        break;
                    }
                case "tg_baohanh":
                    {
                        CurrentEditModel.Tg_baohanh = newvalue;
                        break;
                    }
            }
        }
        PreSum_All();
    }
    async void OnGridCT_DMDM_Changed(ExpandoObject value, string ma_dm)
    {
        if (value == null)
            return;
        switch (ma_dm.ToLower())
        {
            case "ma_vt":
                {
                    CurrentEditModel.Ma_vt = value.Where(a => a.Key.Equals("ma_vt")).FirstOrDefault().Value.ToString();
                    CurrentEditModel.Dvt1 = value.Where(a => a.Key.Equals("dvt")).FirstOrDefault().Value.ToString();
                    CurrentEditModel.Ten_vt = value.Where(a => a.Key.Equals("ten_vt")).FirstOrDefault().Value.ToString();


                    if (!string.IsNullOrEmpty(CurPh.Ma_dvcs_bl))
                    {
                        string sql = string.Format("select top(1) ma_px from [cosxlt-dmdmvt] where ma_sp = '{0}' and ma_dvcs = '{1}'", CurrentEditModel.Ma_vt.Trim(), CurPh.Ma_dvcs_bl.Trim());
                        DataSet _ds = await myDb.LoadDataset(sql);
                        DataTable tblMaPX = _ds.Tables[0];
                        if (tblMaPX.Rows.Count != 0)
                        {
                            CurrentEditModel.Ma_px_i = tblMaPX.Rows[0]["ma_px"].ToString();
                        }
                    }
                    if (CurPh.Ngay_ct != new DateTime())
                    {
                        DataRow dataRow = Getdmgia2(CurrentEditModel.Ma_vt.Trim(), string.Format("{0:yyyyMMdd}", CurPh.Ngay_ct), CurPh.Nh_kh3);
                        if (dataRow != null)
                        {
                            CurrentEditModel.Gia_nt2 = !CurPh.Ma_nt.Trim().Equals(M_ma_nt0.Trim()) ? decimal.Parse(dataRow["gia_nt2"].ToString()) : decimal.Parse(dataRow["gia2"].ToString());
                            CurrentEditModel.Gia2 = decimal.Parse(dataRow["gia2"].ToString());
                        }
                    }

                    // if (CurrentEditModel.Vt_ton_kho == 1)
                    // {
                    //     if (M_QL_LO_CK.ToString().Trim() != "1")
                    //     {
                    //         CurrentEditModel.Ton13 = GetTon13(CurrentEditModel.Ma_kho_i, CurrentEditModel.Ma_vt.Trim(), CurrentEditModel.Ma_vv_i);
                    //     }
                    //     else
                    //     {
                    //         CurrentEditModel.Ton13 = GetTon13Lo(CurrentEditModel.Ma_kho_i, CurrentEditModel.Ma_vt.Trim(), CurrentEditModel.Ma_vv_i, CurrentEditModel.Ma_lo);
                    //     }
                    // }
                    // else
                    //     CurrentEditModel.Ton13 = 0;
                    break;
                }
            case "ma_kho_i":
                CurrentEditModel.Ma_kho_i = value.Where(a => a.Key.Equals("ma_kho")).FirstOrDefault().Value.ToString();
                break;
            case "ma_px_i":
                CurrentEditModel.Ma_px_i = value.Where(a => a.Key.Equals("ma_px")).FirstOrDefault().Value.ToString();
                break;

            case "ma_thue":
                {
                    CurrentEditModel.Ma_thue = value.Where(a => a.Key.Equals("ma_thue")).FirstOrDefault().Value.ToString();
                    CurrentEditModel.Thue_suat = decimal.Parse(value.Where(a => a.Key.Equals("thue_suat")).FirstOrDefault().Value.ToString());
                    decimal newValue = CurrentEditModel.Thue_suat;
                    if (newValue != new Decimal(0))
                    {
                        Decimal tienThue = (CurrentEditModel.Tien_nt2 * newValue / new Decimal(100));
                        CurrentEditModel.Thue_nt = tienThue;

                        Decimal tienThueQuyDoi = (tienThue * CurPh.Ty_gia);

                        if (tienThueQuyDoi != new Decimal(0))
                        {
                            CurrentEditModel.Thue = tienThueQuyDoi;
                        }
                    }
                    else
                    {
                        CurrentEditModel.Thue = 0;
                        CurrentEditModel.Thue_nt = 0;
                    }
                    CurrentEditModel.Thue_nt = CurrentEditModel.Thue;


                }
                break;

        }
        Sum_All();
    }
    DataRow Getdmgia2(string ma_vt, string ngay_ct, string nh_kh3)
    {
        string format = string.Format("EXEC dbo.GetDmgia2 '{0}', '{1}','{2}'", nh_kh3, ma_vt, ngay_ct);
        DataSet dataSet = myDb.LoadDataSet(format);
        return (dataSet.Tables[0].Rows.Count == 1) ? dataSet.Tables[0].Rows[0] : null;
    }
    public decimal GetTon13(string ma_kho, string ma_vt, string ma_vv)
    {
        decimal result = default(decimal);
        string sql = string.Format("exec [GetTon13] '{0}', '{1}', '{2}'", ma_kho, ma_vt, ma_vv);
        DataTable dataTable = new DataTable();
        try
        {
            DataSet _ds = myDb.LoadDataSet(sql);
            DataTable dataTable2 = _ds.Tables[0];
            if (dataTable2.Rows.Count > 0)
            {
                decimal.TryParse(dataTable2.Rows[0]["ton13"].ToString(), out result);
            }
        }
        catch
        {

        }
        return result;
    }
    public decimal GetTon13Lo(string ma_kho, string ma_vt, string ma_vv, string ma_lo)
    {
        decimal result = default(decimal);
        string sql = string.Format("exec [GetTon13Lo] '{0}', '{1}', '{2}', '{3}'", ma_kho, ma_vt, ma_vv, ma_lo);
        DataTable dataTable = new DataTable();
        try
        {
            DataSet _ds = myDb.LoadDataSet(sql);
            DataTable dataTable2 = _ds.Tables[0];
            if (dataTable2.Rows.Count > 0)
            {
                decimal.TryParse(dataTable2.Rows[0]["ton13"].ToString(), out result);
            }
        }
        catch
        {

        }
        return result;
    }
    public DataTable GetListTon13Lo(string ma_kho, string ma_vt, string ma_vv, string ma_lo)
    {
        string sql = string.Format("exec [GetTon13Lo];2 '{0}', '{1}', '{2}', '{3}'", ma_kho, ma_vt, ma_vv, ma_lo);
        DataTable dataTable = new DataTable();
        try
        {
            DataSet _ds = myDb.LoadDataSet(sql);
            DataTable dataTable2 = _ds.Tables[0];
            if (dataTable2.Rows.Count > 0)
            {
                return dataTable2;
            }
        }
        catch
        {

        }
        return null;
    }
    public decimal GetTon13VT(string ma_kho, string ma_vt, string ma_vv, string ma_lo, DateTime ngay_ct, string stt_rec)
    {
        decimal result = default(decimal);
        string sql = string.Format("exec [GetTon13VT] '{0}', '{1}', '{2}', '{3}', '{4}', '{5}'", ma_kho, ma_vt, ma_vv, ma_lo, ngay_ct.ToString("yyyyMMdd"), stt_rec);
        DataTable dataTable = new DataTable();
        try
        {
            DataSet _ds = myDb.LoadDataSet(sql);
            DataTable dataTable2 = _ds.Tables[0];
            if (dataTable2.Rows.Count > 0)
            {
                decimal.TryParse(dataTable2.Rows[0]["ton13"].ToString(), out result);
            }
        }
        catch
        {

        }
        return result;
    }

    void OnAutoCompleteMaGDChanged(ExpandoObject value)
    {
        string ma_gd = value.Where(a => a.Key.Equals("ma_gd")).FirstOrDefault().Value.ToString().Trim();
        if (ma_gd.Equals("1"))
        {
            CurPh.Ma_bp = curUser.User_name;
        }
        else if (ma_gd.Equals("2"))
        {
            CurPh.Ma_bp = "";
        }
        StateHasChanged();
    }
    void OnAutoCompleteTkChanged(ExpandoObject value)
    {
    }
    void OnAutoCompleteHTTTChanged(ExpandoObject value)
    {
        CurPh.Ma_nx = value.Where(a => a.Key.Equals("tk")).FirstOrDefault().Value.ToString();
    }
    void OnAutoCompleteNVCDChanged(ExpandoObject value)
    {
    }
    void OnAutoCompleteDMBPChanged(ExpandoObject value)
    {
    }
    async void OnAutoCompleteKhachhangChanged(ExpandoObject value)
    {
        CurPh.Ten_kh = value.Where(a => a.Key.Equals("ten_kh")).FirstOrDefault().Value.ToString();
        // CurPh.Ten_kh2 = value.Where(a => a.Key.Equals("ten_kh2")).FirstOrDefault().Value.ToString();
        CurPh.Dia_chi = value.Where(a => a.Key.Equals("dia_chi")).FirstOrDefault().Value.ToString();
        CurPh.Ong_ba = value.Where(a => a.Key.Equals("ong_ba")).FirstOrDefault().Value.ToString();
        // CurPh.Nh_kh3 = value.Where(a => a.Key.Equals("nh_kh3")).FirstOrDefault().Value.ToString();
        // CurPh.Tk_nh = value.Where(a => a.Key.Equals("tk_nh")).FirstOrDefault().Value.ToString();
        CurPh.Ma_so_thue = value.Where(a => a.Key.Equals("ma_so_thue")).FirstOrDefault().Value.ToString();
        StateHasChanged();
    }
    void OnAutoCompleteMaNTChanged(ExpandoObject value)
    {
        string sql = string.Format("select ty_gia from dmtgnt where ma_nt = '{0}'", CurPh.Ma_nt.Trim());
        DataSet ds = myDb.LoadDataSet(sql);
        if (ds != null && ds.Tables.Count > 0)
        {
            CurPh.Ty_gia = decimal.Parse(ds.Tables[0].Rows[0][0].ToString());
        }
        NotMaNt0Voucher = !CurPh.Ma_nt.Trim().Equals(M_ma_nt0) ? true : false;
        Sum_All();
    }
    void OnAutoCompleteQChanged(ExpandoObject value)
    {
        StateHasChanged();
    }

    void OnAutoCompleteQuyensoChanged(ExpandoObject value)
    {
        string ma_qs = value.Where(a => a.Key.Equals("ma_qs")).FirstOrDefault().Value.ToString();
        curQuyenso = GetNewSo_ct(ma_qs);
        CurPh.So_ct = string.Format(curQuyenso.Ma_qs, curQuyenso.So_ct);
        StateHasChanged();
    }
    void PreSum_All()
    {
        CurPh.T_so_luong = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.So_luong) + CurrentEditModel.So_luong;
        CurPh.T_tien_nt2 = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Tien_nt2) + CurrentEditModel.Tien_nt2;
        CurPh.T_tien2 = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Tien2) + CurrentEditModel.Tien2;
        CurPh.T_tien_nt = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Tien_nt) + CurrentEditModel.Tien_nt;
        CurPh.T_tien = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Tien) + CurrentEditModel.Tien;
        CurPh.T_ck_nt = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Ck_nt) + CurrentEditModel.Ck_nt;
        CurPh.T_ck = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Ck) + CurrentEditModel.Ck;
        CurPh.T_thue_nt = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Thue_nt) + CurrentEditModel.Thue_nt;
        CurPh.T_thue = LSCt.Where(a => !string.IsNullOrEmpty(a.Ma_vt) && !a.Ma_vt.Equals(CurrentEditModel.Ma_vt)).Sum(a => a.Thue) + CurrentEditModel.Thue;



        CurPh.T_tt_nt = CurPh.T_thue_nt + CurPh.T_tien_nt2 - CurPh.T_ck_nt;
        CurPh.T_tt = CurPh.T_thue + CurPh.T_tien2 - CurPh.T_ck;
    }
    void Sum_All()
    {
        CurPh.T_so_luong = LSCt.Sum(a => a.So_luong);
        CurPh.T_tien_nt2 = LSCt.Sum(a => a.Tien_nt2);
        CurPh.T_tien2 = LSCt.Sum(a => a.Tien2);
        CurPh.T_tien_nt = LSCt.Sum(a => a.Tien_nt);
        CurPh.T_tien = LSCt.Sum(a => a.Tien);
        CurPh.T_ck_nt = LSCt.Sum(a => a.Ck_nt);
        CurPh.T_ck = LSCt.Sum(a => a.Ck);
        CurPh.T_thue_nt = LSCt.Sum(a => a.Thue_nt);
        CurPh.T_thue = LSCt.Sum(a => a.Thue);


        CurPh.T_tt_nt = CurPh.T_thue_nt + CurPh.T_tien_nt2 - CurPh.T_ck_nt;
        CurPh.T_tt = CurPh.T_thue + CurPh.T_tien2 - CurPh.T_ck;
    }
    async void StartEditDataItemByClickCT()
    {
        if (SelectedDataItemCT != null)
            await GridCT.StartEditDataItemAsync(SelectedDataItemCT);
    }

    async void StartEditDataItemByClickCTGT()
    {
        if (SelectedDataItemCTGT != null)
            await GridCTGT.StartEditDataItemAsync(SelectedDataItemCTGT);
    }
    void HireAttachform(string value)
    {
        StateHasChanged();
    }

    async void AddNewCT()
    {
        await GridCT.SaveChangesAsync();
        Ct101 _Ct101 = new Ct101();
        if (LSCt.Count > 0)
        {
            if (CurrentEditModel != null)
            {
                if (string.IsNullOrEmpty(CurrentEditModel.Ma_vt))
                {
                    Message = "Chưa vào tài khoản.";
                    StateHasChanged();
                    return;
                }
            }
            _Ct101.Stt = LSCt.Max(a => a.Stt) + 1;
        }
        else
        {
            _Ct101.Stt = 1;
        }
        _Ct101.Stt_rec0 = string.Format("{0:0000}", _Ct101.Stt);
        _Ct101.So_ct = CurPh.So_ct;
        _Ct101.Stt_rec = CurPh.Stt_rec;
        _Ct101.Ma_hd = CurPh.So_ct;
        _Ct101.Ngay_ct = CurPh.Ngay_ct;
        _Ct101.Han_gh_i = DateTime.Now.Date;
        _Ct101.Ma_ct = CurPh.Ma_ct;
        _Ct101.Tien_nt = 0;
        _Ct101.So_luong = 0;
        _Ct101.Gia_nt2 = 0;
        _Ct101.Tien_nt2 = 0;
        _Ct101.Tg_baohanh = 0;
        // _Ct101.Ty_gia = CurPh.Ty_gia;
        // _Ct101.Ma_nt0 = CurPh.Ma_nt;
        LSCt.Add(_Ct101);
        await GridCT.StartEditDataItemAsync(_Ct101);
    }



    void Grid_CustomizeEditModelCT(GridCustomizeEditModelEventArgs e)
    {
        CurrentEditModel = (Ct101)e.EditModel;
        if (e.IsNew)
        {
            CurrentEditModel.Stt = LSCt.Count > 0 ? LSCt.Max(a => a.Stt) + 1 : 1;
            CurrentEditModel.Stt = LSCt.Count + 1 < CurrentEditModel.Stt ? CurrentEditModel.Stt : LSCt.Count + 1;
            CurrentEditModel.Stt_rec0 = string.Format("{0:0000}", CurrentEditModel.Stt);
            CurrentEditModel.So_ct = CurPh.So_ct;
            CurrentEditModel.Stt_rec = CurPh.Stt_rec;
            CurrentEditModel.Ngay_ct = CurPh.Ngay_ct;
            CurrentEditModel.Han_gh_i = CurPh.Ngay_ct;
            CurrentEditModel.Ma_ct = CurPh.Ma_ct;
            CurrentEditModel.Ma_hd = CurPh.So_ct;

            // CurrentEditModel.Ty_gia = CurPh.Ty_gia;
            // CurrentEditModel.Ma_nt0 = CurPh.Ma_nt;
        }
    }

    async Task Grid_EditModelSavingCT(GridEditModelSavingEventArgs e)
    {
        CurrentEditModel = (Ct101)e.EditModel;
        if (string.IsNullOrEmpty(CurrentEditModel.Ma_vt))
        {
            Message = "Chưa vào mã vật tư.";
            StateHasChanged();
            return;
        }
        if (e.IsNew)
        {
            LSCt.Add(CurrentEditModel);
        }
        else
        {
            Ct101 cts = LSCt.Where(a => a.Stt_rec.Equals(CurrentEditModel.Stt_rec) && a.Stt_rec0 == CurrentEditModel.Stt_rec0).FirstOrDefault();
            if (cts != null)
            {
                cts.Ma_vt = CurrentEditModel.Ma_vt;
                cts.Dvt1 = CurrentEditModel.Dvt1;
                cts.Dien_giai = CurrentEditModel.Dien_giai;
                cts.So_luong = CurrentEditModel.So_luong;
                cts.Gia = CurrentEditModel.Gia;
                cts.Gia_nt = CurrentEditModel.Gia_nt;
                cts.Gia2 = CurrentEditModel.Gia2;
                cts.Gia_nt2 = CurrentEditModel.Gia_nt2;
                cts.Tien = CurrentEditModel.Tien;
                cts.Tien_nt = CurrentEditModel.Tien_nt;
                cts.Tien2 = CurrentEditModel.Tien2;
                cts.Tien_nt2 = CurrentEditModel.Tien_nt2;
                cts.Han_gh_i = CurrentEditModel.Han_gh_i;
                cts.Ma_thue = CurrentEditModel.Ma_thue;
                cts.Thue = CurrentEditModel.Thue;
                cts.Thue_nt = CurrentEditModel.Thue_nt;
                cts.Thue_suat = CurrentEditModel.Thue_suat;
                // cts.Ty_gia = CurrentEditModel.Ty_gia;
                cts.Tl_ck = CurrentEditModel.Tl_ck;
                cts.Ck = CurrentEditModel.Ck;
                cts.Ck_nt = CurrentEditModel.Ck_nt;
                cts.Ma_kho_i = CurrentEditModel.Ma_kho_i;
                cts.Ma_px_i = CurrentEditModel.Ma_px_i;
                cts.Ma_phi_i = CurrentEditModel.Ma_phi_i;
                cts.Tk_thue_i = CurrentEditModel.Tk_thue_i;
                cts.Ma_tb_i = CurrentEditModel.Ma_tb_i;
                cts.Ma_bpht_i = CurrentEditModel.Ma_bpht_i;
                cts.Ma_ns_i = CurrentEditModel.Ma_ns_i;
                cts.Ma_vv_i = CurrentEditModel.Ma_vv_i;
                cts.Tk_dt = CurrentEditModel.Tk_dt;
                cts.Tk_gv = CurrentEditModel.Tk_gv;
                cts.Tk_vt = CurrentEditModel.Tk_vt;
                cts.Sl_td1_i = CurrentEditModel.Sl_td1_i;
                cts.Sl_td2_i = CurrentEditModel.Sl_td2_i;
                cts.Sl_td3_i = CurrentEditModel.Sl_td3_i;
                cts.Gc_td1_i = CurrentEditModel.Gc_td1_i;
                cts.Gc_td2_i = CurrentEditModel.Gc_td2_i;
                cts.Gc_td3_i = CurrentEditModel.Gc_td3_i;
                cts.Ma_hd = CurrentEditModel.So_ct;
                cts.Tg_baohanh = CurrentEditModel.Tg_baohanh;
            }
        }
        Sum_All();
    }

    async Task Grid_DataItemDeletingCT(GridDataItemDeletingEventArgs e)
    {
        var editCt82 = (Ct101)e.DataItem;
        LSCt.Remove(editCt82);
        int _stt = 1;
        LSCt.ForEach((Ct101 _Ct101) =>
        {
            _Ct101.Stt = _stt;
            _Ct101.Stt_rec0 = string.Format("{0:0000}", _Ct101.Stt);
            _stt++;
        });
        Sum_All();
    }

    private async Task OnSave()
    {
        if (curActionTask == ActionTask.New || curActionTask == ActionTask.Edit)
        {
            await Save();
            curActionTask = ActionTask.View;
            AllowEditMode = false;
        }
    }
    private async Task OnCopy()
    {
        if (curActionTask != ActionTask.New || curActionTask != ActionTask.Edit)
        {
            V_Copy();
            curActionTask = ActionTask.New;
        }
    }
    private async Task OnNew()
    {
        if (curActionTask != ActionTask.New || curActionTask != ActionTask.Edit)
        {
            V_Moi();
            curActionTask = ActionTask.New;
        }
    }
    private async Task OnEdit()
    {
        V_Sua();
        curActionTask = ActionTask.Edit;

    }
    void SaveDoneHideForm()
    {
        Closeform.InvokeAsync(true);
    }
    private async void OnCancel()
    {
        if (Closeform.HasDelegate)
            Closeform.InvokeAsync(ParentReload);
        if (DxWindowmodel != null)
        {
            myModal.CloseModal(DxWindowmodel);
        }
    }

    async void V_Moi()
    {
        Stt_rec = GetStt_rec();
        CurPh.Stt_rec = Stt_rec;
        LoadVoucher();

        CurPh.Ws_id = M_WS_ID;
        CurPh.Ma_nt = M_ma_nt0;
        CurPh.Ty_gia = 1;
        CurPh.Ngay_ct = CurPh.Ngay_lct = DateTime.Now.Date;
        CurPh.Ma_dvcs = Ma_dvcs;
        CurPh.Ma_ct = Ma_ct;
        CurPh.Ma_qs = Ma_qs;
        CurPh.T_tien = 0;
        CurPh.T_tien_nt = 0;
        CurPh.T_tien2 = 0;
        CurPh.T_tien_nt2 = 0;
        CurPh.T_ck = 0;
        CurPh.T_ck_nt = 0;
        CurPh.T_tt = 0;
        CurPh.T_tt_nt = 0;
        CurPh.Status = "2";
        // CurPh.Ma_dvcs_bl = Ma_dvcs;
        CurPh.Dien_giai = "";
        CurPh.Ong_ba = "";
        // CurPh.Nh_kh3 = "";
        CurPh.Ma_kh = "";
        CurPh.Ma_bp = curUser.User_name;
        AllowEditMode = true;
        NotMaNt0Voucher = !CurPh.Ma_nt.Equals(M_ma_nt0) ? true : false;

        if (LastPh != null)
        {
            CurPh.Ma_gd = String.IsNullOrEmpty(LastPh.Ma_gd) ? CurPh.Ma_gd : LastPh.Ma_gd;
            CurPh.Ma_nt = String.IsNullOrEmpty(LastPh.Ma_nt) ? CurPh.Ma_nt : LastPh.Ma_nt;
            CurPh.Ma_so_thue = String.IsNullOrEmpty(LastPh.Ma_so_thue) ? CurPh.Ma_so_thue : LastPh.Ma_so_thue;
            CurPh.Ma_qs = String.IsNullOrEmpty(LastPh.Ma_qs) ? CurPh.Ma_qs : LastPh.Ma_qs;
        }

        newstt_rec = CurPh.Stt_rec;
        curQuyenso = GetNewSo_ct(CurPh.Ma_qs);
        CurPh.So_ct = string.Format(curQuyenso.Ma_qs, curQuyenso.So_ct);
        await InsertCTHHD(CurPh.Stt_rec, CurPh.Ma_qs, CurPh.Ma_ct, curQuyenso.So_ct);
        CurPh.Ma_nt = GetMant(Ma_ct);
        if (CurPh.Ma_nt.Equals(M_ma_nt0))
            CurPh.Ty_giaf = 1;
        else
            CurPh.Ty_giaf = GetRates(CurPh.Ma_nt, CurPh.Ngay_ct);

        LSCt = new List<Ct101>();
    }
    async void V_Copy()
    {
        AllowEditMode = true;
        NotMaNt0Voucher = !CurPh.Ma_nt.Equals(M_ma_nt0) ? true : false;

        CurPh.Ngay_ct = CurPh.Ngay_lct = DateTime.Now.Date;
        Stt_rec = GetStt_rec();
        CurPh.Stt_rec = Stt_rec;
        LoadVoucher();

        newstt_rec = CurPh.Stt_rec;
        curQuyenso = GetNewSo_ct(CurPh.Ma_qs);
        CurPh.So_ct = string.Format(curQuyenso.Ma_qs, curQuyenso.So_ct);
        await InsertCTHHD(CurPh.Stt_rec, CurPh.Ma_qs, CurPh.Ma_ct, curQuyenso.So_ct);

        foreach (Ct101 ct in LSCt)
        {
            ct.Stt_rec = CurPh.Stt_rec;
            ct.So_ct = CurPh.So_ct;
            ct.Ngay_ct = CurPh.Ngay_ct;
        }
        StateHasChanged();
    }
    async void V_Xem()
    {
        AllowEditMode = false;
        if (!string.IsNullOrEmpty(Stt_rec))
        {
            await Loaddata();
            SaveLastPh(CurPh);
            StateHasChanged();
        }
    }
    async void V_Sua()
    {
        AllowEditMode = true;
        if (!string.IsNullOrEmpty(Stt_rec))
        {
            await Loaddata();
            StateHasChanged();
        }
    }

    public override async Task Loaddata()
    {
        LoadVoucher();
        if (DsTrans != null && DsTrans.Tables.Count > 0)
        {
            List<Ph101> ls81 = myDb.ConvertDataTable<Ph101>(DsTrans.Tables[0]);
            if (ls81 != null && ls81.Count > 0)
            {
                CurPh = ls81[0];
                NotMaNt0Voucher = !CurPh.Ma_nt.Equals(M_ma_nt0) ? true : false;
            }

            if (DsTrans != null && DsTrans.Tables.Count > 1)
                LSCt = myDb.ConvertDataTable<Ct101>(DsTrans.Tables[1]);

        }
    }
    private async Task Save()
    {

        if (!CheckValid())
            return;

        await GridCT.SaveChangesAsync();

        if (LSCt.Count <= 0)
        {
            Message = Lap["No details entered"] + " !";
            return;
        }

        ParentReload = true;
        CurPh.Date = DateTime.Now.Date;
        CurPh.Time = DateTime.Now.ToString("HH:mm:ss");
        CurPh.Ma_hd = CurPh.So_ct;
        CurCt.Ma_hd = CurPh.So_ct;
        if (curUser != null)
            CurPh.User_id = curUser.User_id;
        CurPh.Ma_dvcs = myStateMN.GetMa_Dvcs();
        if (String.IsNullOrEmpty(CurPh.Ma_dvcs) || CurPh.Ma_dvcs.Trim().ToUpper() == "ALL")
        {
            CurPh.Ma_dvcs = myDb.GetValue("dmkho", "ma_dvcs", "ma_kho = '" + LSCt[0].Ma_kho_i.Trim() + "'").ToString();
        }
        CurPh.Px_gia_dd = String.IsNullOrWhiteSpace(CurPh.Px_gia_dd) ? "0" : CurPh.Px_gia_dd;
        if (curActionTask == ActionTask.New)
        {
            CurPh.Date0 = DateTime.Now.Date;
            CurPh.Time0 = DateTime.Now.ToString("HH:mm:ss");

            if (curUser != null)
            {
                CurPh.User_id0 = curUser.User_id;
            }
            myDb.UpdateDataRowFromModel<Ph101>(DsTrans.Tables[0].Rows[0], CurPh);
            await myDb.UpdateRow(M_Phdbf, DsTrans.Tables[0].Rows[0], "stt_rec='" + CurPh.Stt_rec + "'", "stt_rec,row_id");

            if (LSCt.Count > 0)
            {
                for (int x = 0; x < LSCt.Count; x++)
                {
                    if (string.IsNullOrEmpty(LSCt[x].Ma_vt))
                        LSCt.Remove(LSCt[x]);
                }
            }
            if (LSCt.Count > 0)
            {
                await myDb.InsertManyRow<Ct101>(LSCt, M_Ctdbf, "stt_rec", CurPh.Stt_rec);

            }

            Console.WriteLine(DsTrans.Tables);
            curActionTask = ActionTask.View;
            Message = String.Format(Lap["Successfully added new : {0}"], CurPh.So_ct);
        }
        else if (curActionTask == ActionTask.Edit)
        {
            myDb.UpdateDataRowFromModel<Ph101>(DsTrans.Tables[0].Rows[0], CurPh);
            await myDb.UpdateRow(M_Phdbf, DsTrans.Tables[0].Rows[0], "stt_rec='" + CurPh.Stt_rec + "'", "stt_rec,row_id");

            if (LSCt.Count > 0)
            {
                for (int x = 0; x < LSCt.Count; x++)
                {
                    if (string.IsNullOrEmpty(LSCt[x].Ma_vt))
                        LSCt.Remove(LSCt[x]);
                }
            }

            string _saveXml = myOption.GetOptionsValue("M_SAVE_XML");
            if (LSCt.Count > 0)
            {
                xmlpath = Path.Combine(myWebhost.WebRootPath, "upload_tmp", CurPh.Stt_rec);
                await myDb.SaveDataTable<Ct101>(LSCt, M_Ctdbf, "stt_rec", CurPh.Stt_rec, "", xmlpath, _saveXml);

            }


            Console.WriteLine(DsTrans.Tables);
            curActionTask = ActionTask.View;
            Message = ("Sửa đơn: " + CurPh.So_ct + " thành công.");
        }
        SaveLastPh(CurPh);


        if (CurPh.Status.Equals("2"))
        {
            string format = "EXEC SetSoct '" + CurPh.Ma_qs.Trim() + "', '" + CurPh.So_ct.Trim() + "'";
            await myDb.DeleteAsync(format);
            string newstt_recPt1 = "";
            DataTable dt = new DataTable();
            dt.Columns.Add("ma_ct", typeof(string));
            dt.Columns.Add("stt_rec", typeof(string));
            dt.Columns.Add("stt_recPT", typeof(string));
            dt.Columns.Add("ma_qs", typeof(string));
            dt.Columns.Add("so_ct", typeof(string));
            dt.Columns.Add("ma_nt", typeof(string));
            dt.Columns.Add("ty_gia", typeof(Decimal));
            dt.Columns.Add("ty_giaf", typeof(Decimal));
            dt.Columns.Add("nguoinop", typeof(string));
            dt.Columns.Add("lydonop", typeof(string));
            dt.Columns.Add("ma_gd", typeof(string));
            bool flag2 = false;
            string str2 = myOption.GetOptionsValue("M_TK_TK_VT");
            if (!string.IsNullOrEmpty(CurPh.Ma_nx))
            {
                foreach (string str3 in str2.Split(','))
                {
                    if (!string.IsNullOrWhiteSpace(str3.ToString()) && CurPh.Ma_nx.Trim().StartsWith(str3.ToString().Trim()))
                        flag2 = true;
                }
            }


            bool _createPT1 = false;
            if (!flag2)
            {
                if (curActionTask == ActionTask.New)
                {
                    _createPT1 = true;
                    // if (string.IsNullOrEmpty(CurPh.Stt_rec_psx.Trim()))
                    // {
                    //     DataRow row = dt.NewRow();
                    //     dt.Rows.Add(row);
                    //     newstt_recPt1 = GetStt_rec("PT1", CurPh.Ws_id);
                    //     dt.Rows[0]["ma_ct"] = "PT1";
                    //     dt.Rows[0]["stt_rec"] = CurPh.Stt_rec;
                    //     dt.Rows[0]["stt_recPT"] = newstt_recPt1;
                    //     string ma_qs = "PT";
                    //     dt.Rows[0]["ma_qs"] = ma_qs;
                    //     Dmqs _qs = GetNewSo_ct(ma_qs);
                    //     await InsertCTHHD(newstt_recPt1, ma_qs, "PT1", _qs.So_ct);
                    //     string so_ct_pt = string.Format(_qs.Ma_qs, _qs.So_ct);
                    //     dt.Rows[0]["so_ct"] = so_ct_pt;
                    //     dt.Rows[0]["ma_nt"] = CurPh.Ma_nt;
                    //     dt.Rows[0]["ty_gia"] = CurPh.Ma_nt.Trim().Equals(M_ma_nt0) ? 1 : CurPh.Ty_gia;
                    //     dt.Rows[0]["ty_giaf"] = CurPh.Ma_nt.Trim().Equals(M_ma_nt0) ? 1 : CurPh.Ty_giaf;
                    //     dt.Rows[0]["nguoinop"] = CurPh.Ma_bp;
                    //     dt.Rows[0]["lydonop"] = CurPh.Dien_giai;
                    //     dt.Rows[0]["ma_gd"] = (object)"9";

                    // }

                }
                Post(_createPT1 ? 1 : 0);
                if (_createPT1)
                    await CreatePT1(dt);
            }
        }

        myStateMN.SetNewThongbao(Message);
    }
    private void Post(int ispostck)
    {
        string _poststore = (Post_store == null || Post_store.Length <= 2) ? "[SOPh101B-Post]" : Post_store[2];
        string format = string.Format("exec [dbo].{0} '{1}',0,{2}", _poststore, CurPh.Stt_rec, ispostck);
        myDb.ExecuteSqlQueryAsync(format);
    }

    bool CheckValid()
    {
        if (string.IsNullOrEmpty(CurPh.Ma_kh))
        {
            Message = "Chưa vào Khách hàng.";
            StateHasChanged();
            return false;
        }
        if (string.IsNullOrEmpty(CurPh.Ma_qs))
        {
            Message = "Chưa vào quyển số.";
            StateHasChanged();
            return false;
        }
        if (string.IsNullOrEmpty(CurPh.So_ct))
        {
            Message = "Chưa vào Số c.từ.";
            StateHasChanged();
            return false;
        }

        return true;
    }

    private async void OnPrint()
    {
        LoadVoucher();
        DataSet DataSource = CopyVoucherToDataSet(Stt_rec);
        if (DataSource != null && DataSource.Tables.Count > 0)
        {
            LSData = new List<BG1Model>();
            BG1Model _curModel = new BG1Model();
            _curModel.LSPh = myDb.ConvertDataTable<Ph101>(DataSource.Tables[0]);
            _curModel.LSCt = myDb.ConvertDataTable<Ct101>(DataSource.Tables[1]);

            LSData.Add(_curModel);
        }
        IsShowVoucher = false;
        StateHasChanged();
    }
    private async void OnPrintBack()
    {
        IsShowVoucher = true;
        StateHasChanged();
    }
    public override void LoadOptions()
    {
        base.LoadOptions();
        M_QL_LO_CK = myOption.GetOptionsValue("M_QL_LO_CK");
        M_QS_XK_HDL = myOption.GetOptionsValue("M_QS_XK_HDL");
        M_QS_NK_HDL = myOption.GetOptionsValue("M_QS_NK_HDL");
        string _hs_dvt = myOption.GetOptionsValue("M_HS_DVT");
        Hs_dvt = string.IsNullOrEmpty(_hs_dvt) ? 1 : int.Parse(_hs_dvt);
    }
    public void SaveLastPh(Ph101 _ph)
    {
        LastPh.Stt_rec = _ph.Stt_rec;
        LastPh.Ma_bp = _ph.Ma_bp;
        LastPh.Ma_nt = _ph.Ma_nt;
        LastPh.Ma_nx = _ph.Ma_nx;
        LastPh.Ma_qs = _ph.Ma_qs;
        // LastPh.Ht_tt = _ph.Ht_tt;
        LastPh.Ma_so_thue = _ph.Ma_so_thue;
        LastPh.Ma_gd = _ph.Ma_gd;
        LastPh.Ngay_ct = _ph.Ngay_ct;
        LastPh.Status = _ph.Status;
    }


    async Task CreatePXD(DataTable dt)
    {
        try
        {
            string _sql = string.Format("exec [dbo].[SOCTHDL-CREATEPXD] '{0}','{1}','{2}','{3}','{4}','{5}','{6}',N'{7}',N'{8}','{9}','{10}','{11}','{12}','{13}'", dt.Rows[0]["stt_rec"].ToString(), dt.Rows[0]["stt_recpx"].ToString(), dt.Rows[0]["ma_qs"].ToString().Trim(), dt.Rows[0]["so_ct"].ToString().Trim(), dt.Rows[0]["ma_nt"].ToString().Trim(), decimal.Parse(dt.Rows[0]["ty_gia"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), decimal.Parse(dt.Rows[0]["ty_giaf"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), dt.Rows[0]["nguoinop"].ToString(), dt.Rows[0]["lydonop"].ToString(), dt.Rows[0]["ma_gd"].ToString(), dt.Rows[0]["ma_ct"].ToString(), int.Parse(dt.Rows[0]["loai_xnvl"].ToString()), dt.Rows[0]["ma_kho"].ToString(), dt.Rows[0]["ma_nx"].ToString());
            await myDb.ExecuteSqlQueryAsync(_sql);
        }
        catch (Exception ex)
        {

        }
    }

    async Task CreatePND(DataTable dt)
    {
        try
        {
            string _sql = string.Format("exec [dbo].[SOCTHDL-CREATEPND] '{0}','{1}','{2}','{3}','{4}','{5}','{6}',N'{7}',N'{8}','{9}','{10}','{11}','{12}','{13}'", dt.Rows[0]["stt_rec"].ToString(), dt.Rows[0]["Stt_recpnd"].ToString(), dt.Rows[0]["ma_qs"].ToString().Trim(), dt.Rows[0]["so_ct"].ToString().Trim(), dt.Rows[0]["ma_nt"].ToString().Trim(), decimal.Parse(dt.Rows[0]["ty_gia"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), decimal.Parse(dt.Rows[0]["ty_giaf"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), dt.Rows[0]["ong_ba"].ToString(), dt.Rows[0]["dien_giai"].ToString(), dt.Rows[0]["ma_gd"].ToString(), dt.Rows[0]["ma_ct"].ToString(), int.Parse(dt.Rows[0]["loai_xnvl"].ToString()), dt.Rows[0]["ma_kho"].ToString(), dt.Rows[0]["ma_nx"].ToString());
            await myDb.ExecuteSqlQueryAsync(_sql);
        }
        catch (Exception ex)
        {

        }
    }

    async Task CreatePT1(DataTable dt)
    {
        try
        {
            string _sql = string.Format("exec [dbo].[SOCTHDL-CREATEPT1] '{0}','{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}'", dt.Rows[0]["stt_rec"].ToString(), dt.Rows[0]["stt_recPT"].ToString(), dt.Rows[0]["ma_qs"].ToString().Trim(), dt.Rows[0]["so_ct"].ToString().Trim(), dt.Rows[0]["ma_nt"].ToString().Trim(), decimal.Parse(dt.Rows[0]["ty_gia"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), decimal.Parse(dt.Rows[0]["ty_giaf"].ToString()).ToString(M_IP_TY_GIA).Replace(",", "."), dt.Rows[0]["nguoinop"].ToString(), dt.Rows[0]["lydonop"].ToString(), dt.Rows[0]["ma_gd"].ToString(), dt.Rows[0]["ma_ct"].ToString());
            await myDb.ExecuteSqlQueryAsync(_sql);
        }
        catch (Exception ex)
        {

        }
    }

}
